:root {
    --gap: 10px;
    --primary-color: #1fabec;
    --secondary-color: #fec530;
    --dark-blue: #5979e2;
    --blue-blur: #ebf0fe;
    --white-color: #fff;
    --fa-color: #fafafa;
    --header-color: #ececec;
    --gray-color: #ccc;
    --dark-color: #333;
    --blur-color: #666;
}

.header {
    position: fixed;
    background-image: linear-gradient(to top, #ff0844 0%, #DC281E 100%);
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    padding: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    animation: fadeEffect 0.25s ease;
}

.header__name {
    position: relative;
    font-size: 50px;
    font-weight: bold;
    line-height: 55px;
    color: var(--white-color);
}

.header__name::after {
    content: "";
    position: absolute;
    top: 3px;
    left: -5px;
    background-color: #ff0844;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: -1;
    border: 2px solid #fff;
}

.header__center {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 30px 0 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header__search {
    position: relative;
    display: flex;
}

.header__search .btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.header__nav {
    padding-top: 5px;
    line-height: 18px;
}

.header__nav-category {
    font-size: 12px;
    font-weight: 400;
    margin-right: 12px;
    color: var(--white-color);
    transition: all 0.5s ease;
}

.header__nav-category:hover {
    color: rgb(27, 27, 27);
}

.btn--cart {
    position: relative;
    background-color: transparent;
    color: var(--white-color);
}

.btn--cart:hover .header-cart__bought {
    display: block;
}

.header-cart__quantity {
    position: absolute;
    top: 6px;
    right: 0;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 4px 7px;
    font-size: 12px;
    border-radius: 50%;
    text-align: center;
}

.header-cart__bought {
    display: none;
    position: absolute;
    top: 52px;
    right: 0;
    width: 350px;
    max-height: 350px;
    background-color: var(--fa-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: default;
    transition: all 0.5s linear;
}

.header-cart__bought--hollow {
    padding: 10px;
}

.header-cart__bought--hollow .header-cart__img--hollow,
.header-cart__bought--hollow .header-cart__msg--hollow {
    display: block;
}

.header-cart__bought::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 10px;
    border: 10px solid;
    border-color: transparent transparent var(--fa-color) transparent;
}

.header-cart__img--hollow {
    display: none;
}

.header-cart__msg--hollow {
    display: none;
    color: var(--dark-color);
    font-size: 1.6rem;
}

.header__sign {
    margin-left: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__sign-icon {
    font-size: 32px;
    color: var(--white-color);
}

.header__sign-link {
    font-size: 14px;
    display: block;
    line-height: 16px;
    color: var(--white-color);
    margin-left: 6px;
}

.header__sign-link:hover {
    text-decoration: underline;
    color: var(--gray-color);
}

.banner {
    margin-top: 85px;
    background-color: #ffdc69;
    padding-top: 10px;
    border-radius: 0 0 100px 100px;
}

.intro__img {
    border-radius: 3px;
}

.intro__icon {
    font-size: 45px;
    color: var(--primary-color);
    text-align: center;
}

.intro__desc {
    font-weight: 200;
    display: inline-block;
    text-align: center;
    font-size: 18px;
}

.intro__desc-title {
    font-weight: 500;
}

.intro__desc-commit {
    opacity: 0.5;
    font-size: 16px;
    line-height: 35px;
}

.slider__products {
    display: flex;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

.fa-unlock-alt {
    font-size: 40px;
}

.slick-list {
    margin-left: -20px;
}

.slider__product {
    position: relative;
    margin-left: 20px;
    background-color: var(--white-color);
    padding-bottom: 8px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 16px rgb(0 0 0 / 10%);
}

.slider__product-link {
    height: 100%;
}

.slider__product-heading {
    margin-bottom: 12px;
    max-width: 308px;
    max-height: 308px;
    overflow: hidden;
}

.slider__product-img {
    transition: all 0.25s ease;
}

.slider__product:hover .slider__product-img {
    opacity: 0.8;
    transform: scale(1.1);
}

.slider__product-sale {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 50px;
    text-align: center;
    font-weight: 400;
    color: var(--white-color);
    padding: 4px 0;
    line-height: 15px;
    font-size: 1.6rem;
    background-color: var(--secondary-color);
}

.slider__product-sale span {
    color: #d0011b;
    font-size: 1.5rem;
    font-weight: 500;
}

.slider__product-sale::after {
    content: "";
    width: 0;
    height: 0;
    left: 0;
    bottom: -15px;
    position: absolute;
    border-color: transparent var(--secondary-color);
    border-style: solid;
    border-width: 0 25.6px 15px;
}

.slider__product-info {
    padding: 0 8px;
}

.content-product__name,
.slider__product-name {
    font-size: 1.4rem;
    height: 36px;
    margin: 12px 0;
    display: block;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.price--old {
    text-decoration: line-through;
    font-size: 1.4rem;
    color: var(--blur-color);
}

.price--reduction {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.8rem;
    float: right;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    border: none;
    border-radius: 50%;
    padding: 5px;
    font-size: 20px;
    line-height: 16px;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--white-color);
    box-shadow: 5px 0 20px rgba(0, 0, 0, 0.25);
    z-index: 1;
    transition: all 0.25s ease-in;
}

.slider__list:hover .arrow {
    font-size: 30px;
    line-height: 25px;
}

.slick-prev {
    left: -15px;
}

.slick-next {
    right: -15px;
}

.bxs-cart-add {
    position: absolute;
    top: 8px;
    left: 12px;
    font-size: 30px;
    color: var(--secondary-color);
}

.content {
    margin-top: 30px;
}

.content-nav {
    min-width: 250px;
    background-color: #fff;
    box-shadow: 15px 0 10px -12px rgba(0, 0, 0, 0.5);
}

.content-nav__list li.active {
    background-image: linear-gradient(-120deg, #ffd344 0%, #ff7b56 100%);
    font-weight: 500;
    transition: all 0.25s ease;
}

.content-nav__category {
    border-left: 3px solid var(--secondary-color);
    padding-left: 5px;
    font-size: 2.4rem;
    line-height: 30px;
}

.content-nav__item {
    position: relative;
    display: block;
    padding: 10px;
    font-size: 1.6rem;
    margin-bottom: 8px;
    border-radius: 20px 0 0 20px;
    transition: all 0.25s linear;
}

.content-nav__item:hover {
    background-color: var(--blue-blur);
    cursor: pointer;
}

.content-nav__product {
    transition: all 0.25s linear;
    display: block;
}

.content-nav__item:hover .content-nav__product {
    color: var(--dark-blue);
}

.content-nav__icon {
    display: none;
    float: right;
    line-height: 18px;
}

.content-nav__item:hover .content-nav__icon {
    display: inline-block;
}


/* ------------------------------------------*/

.content-product {
    margin-left: 20px;
    max-width: 887px;
}

.content-product__banner {
    margin-top: 80px;
}

.content-product__all {
    animation: fadeEffect 1s ease;
    width: 100%;
    margin-left: calc(-1 * var(--gap));
}

.content-product__item {
    position: relative;
    background-color: var(--white-color);
    border-radius: 8px;
    box-shadow: 0 0 16px rgb(0 0 0 / 10%);
    transition: all 0.25s ease-in;
    min-height: 270px;
    overflow: hidden;
}

.content-product__item:hover {
    transform: translateY(-2.5%);
    border: 1px solid var(--secondary-color);
}

.content-product__link {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.content-product__heading {
    max-height: 166.56px;
    overflow: hidden;
}

.content-product__cart,
.content-product__favorite {
    position: absolute;
    top: 10px;
    font-size: 2.2rem;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.753);
}

.content-product__favorite {
    left: 10px;
    color: #f10020;
}

.content-product__cart {
    right: 10px;
    color: var(--secondary-color);
}

.content-product__quantity {
    color: var(--blur-color);
    font-size: 1.1rem;
    text-decoration: underline;
}

.content-product__item--over {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 40% 0;
    border-radius: 8px;
    color: var(--white-color);
    font-size: 1.8rem;
    text-shadow: 0 0 2px red;
    cursor: default;
    user-select: none;
    background-color: rgba(2, 2, 2, 0.452);
}

.footer {
    margin-top: 80px;
    background-color: rgb(26, 26, 26);
    margin-bottom: 0;
    padding: 30px 0;
}

.footer__title {
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 16px;
}

.footer__desc {
    text-align: justify;
    font-size: 1.4rem;
}

.about-us .about {
    margin-left: 55px;
    font-size: 1.4rem;
}

.footer__contact {
    display: inline-block;
    font-weight: bold;
    font-size: 1.4rem;
}

.footer__logo {
    font-size: 8rem;
    text-align: center;
    flex: 1;
    margin-inline: auto;
    margin-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer__ncp {
    background-color: var(--dark-color);
    text-align: center;
    color: var(--white-color);
    font-size: 1.2rem;
    padding: 8px 0;
}

.box-mess,
#up-top {
    position: fixed;
    bottom: 20px;
    border-radius: 50%;
    font-size: 5rem;
    color: var(--white-color);
}

#up-top {
    display: none;
    right: 20px;
    background-color: var(--primary-color);
    animation: fadeEffect 0.5s ease;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.25s ease;
}

.filter {
    display: none;
    position: fixed;
    top: 50%;
    left: 0;
    line-height: 12px;
    background-color: #1a1a1a;
    color: var(--white-color);
    font-size: 1.6rem;
    padding: 8px 4px;
    border-radius: 0 5px 5px 0;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 2;
}

.nav-mobie {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.411);
    z-index: 6;
}

.nav-mobie__list {
    position: relative;
    background-color: #1a1c1e;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-radius: 0 10px 10px 0;
    box-shadow: 3px 0 20px -3px rgb(191 28 84);
    border-right: 1px solid #ccc;
    animation: turnRight .5s ease;
}

.nav-mobie__icon {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 10px;
    color: var(--white-color);
    font-size: 2rem;
    cursor: pointer;
}

.nav-mobie__item {
    padding: 15px 10px;
    width: 100%;
    margin-bottom: 12px;
    border-radius: 15px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.nav-mobie__item:hover {
    background-color: #303234;
}

.nav-mobie__item:hover .nav-mobie__link {
    color: var(--white-color);
    background-color: #303234;
}

.nav-mobie__link {
    font-size: 1.6rem;
    color: var(--gray-color);
    display: block;
}

.nav-mobie__mess {
    background-color: #bf1c54;
    float: right;
    padding: 0 8px;
    border-radius: 20px;
    text-align: center;
}

.box-mess {
    width: 50px;
    height: 50px;
    left: 20px;
    cursor: pointer;
    z-index: 4;
}

.modal-mess {
    display: none;
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 328px;
    height: 455px;
    background-color: var(--fa-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.425);
    z-index: 5;
}

.modal-mess__header {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 8px;
}

.modal-mess__contact {
    font-size: 1.4rem;
    color: var(--dark-color);
    display: inline-block;
    font-weight: 500;
}

.modal-mess__close {
    float: right;
    color: var(--primary-color);
    font-size: 1.8rem;
    padding: 0 8px;
    cursor: pointer;
}

.modal-mess__content {
    background-color: #ebf0fe;
    text-align: center;
    height: 370px;
    padding: 0 8px;
}

.modal-mess__avt {
    width: 50px;
    border-radius: 50%;
}

.modal-mess__name {
    font-size: 1.6rem;
    color: var(--dark-color);
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

.modal-mess__chat {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    height: 45px;
}

.modal-mess__send {
    color: var(--primary-color);
    font-size: 2.5rem;
    margin-top: 3px;
    margin-left: 8px;
    cursor: pointer;
}

.modal-mess__chat .input {
    padding-block: 6px;
}

@media (min-width: 1023px) {
    .nav-mobie {
        display: none;
    }
}

@media (min-width: 720px) and (max-width:1023px) {
    .content-nav {
        display: none;
    }
    .footer__logo {
        font-size: 5rem;
    }
    .filter {
        display: block;
    }
}

@media (max-width: 720px) {
    .col-2 {
        width: calc(100% / 2 - var(--gap));
    }
    .mt {
        margin-top: 20px !important;
    }
    .btn {
        font-size: 16px;
        padding: 4px 8px;
    }
    .btn--rounded {
        border-radius: 20px;
    }
    .header__name {
        font-size: 1.8rem;
        color: #e8e8ff;
        line-height: 30px;
    }
    .header__name::after {
        top: 0;
        width: 25px;
        height: 25px;
    }
    .header__center {
        margin: 0 6px 0 15px;
    }
    .input {
        padding: 6px 10px;
        border-radius: 20px;
    }
    .content-nav,
    .header__sign-link,
    .box-mess,
    .header__nav,
    .about {
        display: none;
    }
    .header-nav__quantity {
        top: -3px;
        padding: 2px 6px;
    }
    .header-nav__bought {
        width: 300px;
        top: 35px;
    }
    .header__sign {
        margin-left: 8px;
    }
    .header__sign-icon {
        font-size: 20px;
    }
    .banner {
        margin-top: 45px;
    }
    .intro__icon {
        font-size: 18px;
    }
    .intro__desc-title {
        font-size: 1.2rem;
    }
    .intro__desc-commit {
        font-size: 0.8rem;
        line-height: 10px;
    }
    .price {
        font-size: 1.2rem;
    }
    .content-product__banner {
        margin-top: 30px;
    }
    .content {
        margin-top: 18px;
    }
    .content-product {
        margin: 0;
    }
    .content--title {
        font-size: 1.6rem;
    }
    .fa-unlock-alt {
        font-size: 2rem;
        margin-right: 0;
    }
    .content-product__all {
        margin-left: -5px;
    }
    .content-product__item {
        min-height: 200px;
    }
    .content-product__heading,
    .content-product__title {
        font-size: 14px;
    }
    .slider__product-sale {
        max-width: 37px;
        font-size: 12px;
        padding: 0;
    }
    .slider__product-sale span {
        font-size: 13px;
    }
    .slider__product-sale::after {
        border-width: 0 19.5px 15px;
    }
    .content-product__img {
        height: 166.56px;
    }
    .footer .row {
        flex-direction: column;
    }
    .footer .col {
        width: auto;
        margin-bottom: 40px;
    }
    #up-top {
        bottom: 5px;
        right: 5px;
        font-size: 4rem;
    }
    .filter {
        display: block;
    }
}